.App {
  text-align: center;
  padding: 15px;
  background-color: rgb(26, 169, 169);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.register_page form {
  width: 500px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
